<h2 style="text-align: center">Dynamic Form Validation</h2><hr>

<form [formGroup]="demoForm" (ngSubmit)="submitForm()">
  <input formControlName="input1" [attr.aria-label]="'Student name'" placeholder="Student name" #studentName/>
  <input formControlName="input2" [attr.aria-label]="'Email'" placeholder="Email"/>
  <select formControlName="select2" [attr.aria-label]="'Division'">
    <option value="">--Select Division--</option>
    <option value="option1">Dhaka</option>
    <option value="option2">Khulna</option>
  </select>
  <select formControlName="select1"
          [attr.aria-label]="'District'">
    <option value="">--Select District--</option>
    <option value="option1">Manikgonj</option>
    <option value="option2">Satkhira</option>
  </select>
  <ng-select [items]="lpTypeList"
             bindValue="value" bindLabel="name"
             id="lpTypeId"
             [attr.aria-label]="'LP type'"
             #lpType
             formControlName="lpTypeVal" placeholder="Select LP Type">
  </ng-select>
  <ng-select [items]="genderList"
             bindValue="value" bindLabel="name"
             id="genderId"
             [attr.aria-label]="'Gender'"
             #gender
             formControlName="gender" placeholder="Select Gender">
  </ng-select>
  <button type="submit">Submit</button>
</form>
